:root {
    --primary-color: #123456; 
    --secondary-color: rgba(135, 22, 65, 0.934);
    --background-color: rgb(65, 127, 65);
    --text-color: #333333;
    --footer-color: #123456; 
    --blue-color: #007BFF; 
    --white-color: rgba(255, 255, 255, 0.8); 
    --dark-black: #000000;
    --padding-small: 20px;
    --padding-medium: 30px;
    --padding-large: 40px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


.welcome-box {
    position: relative;
    background-color: var(--secondary-color); 
    color: white;
    padding: 10px; 
    border-radius: 0px;
    text-align: center; 
    font-size: 1.3em; 
    font-weight: bold; 
    width: 100%; 
    margin: 0 auto 10px auto; 
    z-index: 1; 
}


header {
    position: relative; 
    padding: 0; 
    margin-top: 0px; 
}


header .header-container {
    position: relative;
    width: 100%;
}


header .header-container picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}


#data-box {
    width: 300px;
    padding: var(--padding-small);
    background-color: var(--white-color);
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    position: absolute;
    top: 30%;  
    left: 5%; 
    z-index: 1;
}


#weather {
    width: 250px;
    padding: var(--padding-small);
    background-color: var(--white-color);
    color: #333;
    border-radius: 0px;
    font-size: 1.2em;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 1;
}

#data-box h2,
#weather h2 {
    background-color: var(--background-color); 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 0px; 
    font-size: 1.2em; 
    margin: 0; 
    margin-right: 80px; 
    text-align: center; 
    width: 110%;
}


#weather h2 {
    font-weight: bold;
} 
.emoticon::before {
    content: "⛅ ";  
    font-size: 1.5em; 
}



footer {
    text-align: center;
    padding: var(--padding-small);
    background-color: var(--secondary-color);
    color: #fff;
}


@media screen and (max-width: 600px) {
   
    #weather h2 .emoticon::before {
        display: none; 
    }

    
    #weather #weather-image {
        display: block; 
        margin: 20px auto 0;
        width: 80%; 
        height: auto;
    }

    
    #data-box, #weather {
        font-size: 1em;
        padding: 10px;
    }

    
    #data-box {
        position: relative;
        width: 100%;
        margin: 20px auto;
        bottom: auto;
        top: auto;
        left: auto;
        z-index: 0;
    }

    #weather {
        position: relative;
        width: 100%;
        margin-top: 20px;
        bottom: auto;
        right: auto;
        z-index: 0;
    }
}


@media screen and (min-width: 601px) {
    body {
        font-size: 16px;
    }

    header h1 {
        font-size: 2.5em;
    }

    #data-box,
    #weather {
        font-size: 1.2em;
        padding: 15px;
    }

    #data-box h2,
    #weather h2 {
        font-size: 1.2em;
        padding: 10px;
    }

    
    #data-box {
        position: absolute;
        top: 30%;  
        left: 5%;  
        width: 300px;
        z-index: 1;
    }

    
    #weather {
        position: absolute;
        bottom: 10%;
        right: 10%;
        width: 250px;
        z-index: 1;
    }

    
    #weather #weather-image {
        display: none;
    }

    
    #weather h2 .emoticon::before {
        content: "⛅ ";  
        font-size: 1.5em; 
    }
}
